@import "tailwindcss";






:root {
  --primary: #1E3A8A;
  --primary-dark: #0F2A5F;
}


.bg-primary { background-color: var(--primary); }
.bg-primary-dark { background-color: var(--primary-dark); }
.text-primary { color: var(--primary); }
.hover\:bg-primary-dark:hover { background-color: var(--primary-dark); }